<div class="login-container">
  <mat-card>
    <mat-card-title class="text-center">Iniciar Sesión</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" formControlName="email" placeholder="correo@ejemplo.com">
          <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Correo inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Contraseña">
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Mínimo 6 caracteres
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="w-100" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions class="text-center">
      <div class="text-center mt-3">
        <button mat-stroked-button color="accent" (click)="loginWithGoogle()">
          Iniciar sesión con Google
        </button>
      </div>
      
      <p>¿No tienes cuenta?
        <a routerLink="/register">Regístrate</a>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
