<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title class="text-center">Iniciar Sesión</mat-card-title>
    <mat-card-content>
      <form >
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" name="email" placeholder="correo@ejemplo.com"  required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password" placeholder="Contraseña"  required minlength="6">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="w-100 mb-3">
          Ingresar
        </button>
      </form>

      <div class="separator" fxLayout="row" fxLayoutAlign="center center" style="margin: 16px 0;">
        <span>o</span>
      </div>

      <button mat-stroked-button color="accent" class="w-100 mb-3" >
        Continuar como invitado
      </button>
      <button mat-stroked-button color="warn" class="w-100" >
        <mat-icon svgIcon="google" style="margin-right: 8px;"></mat-icon> Iniciar sesión con Google
      </button>
    </mat-card-content>
    <mat-card-actions>
    <p class="text-center w-100">
        ¿Ya tienes cuenta? 
        <a routerLink="/register" routerLinkActive="active">Registrarse</a>
      </p>
    </mat-card-actions>
    <mat-card-footer >
    </mat-card-footer>
  </mat-card>
</div>