<mat-toolbar color="primary" class="admin-toolbar">
  <div class="branding" routerLink="/admin/dashboard">
    <mat-icon class="logo-icon">admin_panel_settings</mat-icon>
    <span class="app-name">ServeFlash</span>
  </div>

  <span class="spacer"></span>


  <button mat-icon-button class="mobile-menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-menu" [class.mobile-visible]="menuVisible">
    <a mat-button [routerLink]="menuItemsClient[0].route">
      <mat-icon>{{menuItemsClient[0].icon}}</mat-icon>
      {{menuItemsClient[0].name}}
    </a>
    <a mat-button [routerLink]="menuItemsClient[1].route">
      <mat-icon>{{menuItemsClient[1].icon}}</mat-icon>
      {{menuItemsClient[1].name}}
    </a>
    <a mat-button [routerLink]="menuItemsClient[2].route">
      <mat-icon>{{menuItemsClient[2].icon}}</mat-icon>
      {{menuItemsClient[2].name}}
    </a>
    
  </nav>

  <div class="actions">

  </div>
</mat-toolbar>