.full-height-drawer-container {
  height: 100vh;
}

.app-sidenav {
  width: 250px;
  border-right: 1px solid #7a7a7a;
  border-radius: 0 ;
  padding: 10px; 
}


.app-main-content {
  padding: 16px;
}

.app-menu-icon{
    cursor: pointer;
}
